@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color: #E5E5E5;
   height:1920px;
    margin:0;
    padding:0;
    overflow: hidden;
    .navbar{
       
       height: 5%;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        .head{
            font-family: 'Karantina';
            
            font-size: 4em;
            color:white;
            margin:0;
        }
    }
    .main{
        height:43em;
        //background-color: #E5E5E5;
        //display: flex;
        overflow: hidden;

        .formCont{
            margin-top: 2em;
            position:absolute;
            z-index: 10;
            left:50%;
            transform:translateX(-50%);
        }
        .menuCont{
           
          form{
             
              
              #ingredientList{
                  
                  border:none;
                  border-radius: 15px;
                  font-family: 'Roboto';
                  font-size: 2em;
                  padding:15px;
                  text-align: center;
                  width:8em;
                  &:hover{
                      cursor: pointer;
                  }
              }
          }
        }
        .addButton{
            background-color: #FFDE2E;
            font-family: 'Roboto';
           position:relative;
            font-size: 2.0em;
            border-radius: 35px;
            border-style: none;
            outline: none;
            padding:15px;
            width:2.5em;
            height:2em;
            font-weight: bold;
            box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.389);
            margin:15px;
            &:hover{
                cursor:pointer;
            }
          
        }
        @media only screen and (max-width:750px){
            .addButton{
                position:absolute;
                top:60vh;
            }
        }
      
        .burgerCont{
            margin:0;
            
            list-style-type: none;
            height:100%;
            position: relative;
            display: flex;
            
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            
            .ingredients{
                //z-index: 2;
                transition: all 1s ease;
                //margin:100px;
                position:absolute;
                //transform: scale(0.5);
               // transform:translateY(-100px);
                opacity:0;
            }
            
            
            .ingredients.anim{
                //transform:translateY(-80px);
                opacity:1;

            }
            .botCont{
                transform: translateY(5em);
              
            }
            .table{
                margin:0;
                width:20em;
               
            }
        }
    }
}